<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/destino.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Patreon de Escuela de Nada</title>
</head>

<body>
    <header>
        <div class="cabeza">
            <a href="../Index.html"> <img src="../imagenes/piedefoto.png">
            </a>
            <nav>
                <ul>
                    <li><a href="../Index.html">Inicio</a></li>
                    <li> <a href="ropita.html">Ropita</a></li>
                    <li> <a href="episodios.html">Episodios</a></li>
                    <li><a href="patreon.html">Patreon</a></li>
                    <li> <a href="nosotros.html">Nosotros</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="mainDos">
        <div class="barra"></div>
        <h1 class="h3">Únete a Patreon</h1>
        <p>Por tan solo 5$ al mes tienes mas de 300 espisodios exclusivos</p>
        <form>
            <div class="form-group p-3">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group p-3">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check p-3">
            </div>
            <button type="submit" class="btn btn-dark">Unirme a patreon</button>
        </form>

        <div class="barra"></div>
        <footer>
            <div class="footerContent">
                <p>&copy; 2021 - Escuela de Nada</p>
            </div>
        </footer>
</body>

</html>